[Desktop Entry]
Version=1.0
Type=Application
Icon=/shared/ondemand/novaDesktop/icons/ansysFluent.png
Exec=/shared/ondemand/novaDesktop/wrappers/ansysFluent/ansysFluent-2021r2.sh
StartupNotify=true
Categories=AnsysFluent;
Name=Ansys Fluent 2021 R2
