[Desktop Entry]
Version=1.0
Type=Application
Icon=/shared/ondemand/novaDesktop/icons/ansysWorkbench.png
Exec=/shared/ondemand/novaDesktop/wrappers/ansysWorkbench/ansysWorkbench-2015r0.sh
StartupNotify=true
Categories=AnsysWorkbench;
Name=Ansys Workbench 2015 R0
