[Desktop Entry]
Version=1.0
Type=Application
Icon=/shared/ondemand/novaDesktop/icons/ansysMechanical.png
Exec=/shared/ondemand/novaDesktop/wrappers/ansysMechanical/ansysMechanical-2024r2.sh
StartupNotify=true
Categories=AnsysMechanical;
Name=Ansys Mechanical 2024 R2
Comment=Latest Version
