[Desktop Entry]
Version=1.0
Type=Application
Icon=/shared/ondemand/novaDesktop/icons/ansysWorkbench.png
Exec=/shared/ondemand/novaDesktop/wrappers/ansysWorkbench/ansysWorkbench-2024r1.sh
StartupNotify=true
Categories=AnsysWorkbench;
Name=Ansys Workbench 2024 R1
Comment=Latest Version
