[Desktop Entry]
Version=1.0
Type=Application
Icon=/shared/ondemand/novaDesktop/icons/matlab.png
Exec=/shared/ondemand/novaDesktop/wrappers/matlab/matlab-r2018b.sh
StartupNotify=true
Categories=MATLAB;
Name=MATLAB R2018b
