[Desktop Entry]
Version=1.0
Type=Application
Icon=/shared/ondemand/novaDesktop/icons/starccm.png
Exec=/shared/ondemand/novaDesktop/wrappers/starccm/starccm-11.04.010.sh
StartupNotify=true
Categories=Starccm;
Name=STAR-CCM 11.04.010
