[Desktop Entry]
Version=1.0
Type=Application
Icon=/shared/ondemand/novaDesktop/icons/starccm.png
Exec=/shared/ondemand/novaDesktop/wrappers/starccm/starccm-15.04.008-R8.sh
StartupNotify=true
Categories=Starccm;
Name=STAR-CCM 15.04.008 (Double Precision)
